* {
    color: lightgreen;
    font-style: normal;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    padding: 0;
    font-family: Century, Arial, sans-serif;
}

html {
    background-color: black;
}


/**header**/
header, header *{
    background-color: #333;   
}
.header{
    width: 100%;
    position: fixed;
    margin-top: -111.2px;
}


/**Primera sección**/
.header__section{
    display: block;
    padding: 5px;
}
.header__section #caballero{
    background-color: #333;
    display: inline;
    width: 3rem;
    height: 4rem;
}
.header__section #sol{
    background-color: #333;
    display: inline;
    width: 2rem;
    height: 2rem;
}


/**Segunda nav**/
.header__nav__link:hover {
    background-color: rgb(100,100,100);
}
.header__nav::-webkit-scrollbar {
    width: 95%;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(63, 176, 213);
}
.header__nav::-webkit-scrollbar-thumb {
    background-color:  rgb(78, 78, 248);
    border-radius: 5px;
}
/**Celular**/
@media (max-width: 767px) {
    .header__nav{
        display: flex;
        overflow-x: scroll;
        justify-content: flex-start;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: rgb(78, 78, 248);    
        border: 3px solid #444;
        min-width: 20%;
        margin: 0 2%;
    }
    .header{
        margin-top: -120.8px;
    }
    html {
        background-color: #333;
        padding-top: 120.8px;
    }

}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {
    .header__nav{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: rgb(78, 78, 248);    
        border: 3px solid #444;
        min-width: 15%;
    }
}
/**PC**/
@media (min-width: 991px) {
    .header__nav{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 10px;
    }
    .header__nav__link{
        position: relative;
        display: inline;
        min-width: 120px;
        background-color: rgb(74, 74, 74);
        color: rgb(78, 78, 248);    
        border: 3px solid #444;
        min-width: 15%;
    }
}





/**main**/
main *, footer *{
    background-color: black;
    letter-spacing: 2px;
    word-spacing: 2px;
}

main img {
    width: 50%;
    display: flex;
}




/**footer**/
footer, footer * {
    background-color: rgb(58, 58, 58);
}

.footer-nav__a {
    color: rgb(78, 78, 248);
}

.footer-form__input {
    border: 3px solid gray;
    border-top: 3px solid white;
    border-left: 3px solid white;
    display: block;
    margin-bottom: 0.50rem;

}

.footer-form__button {
    border: 3px solid gray;
    border-top: 3px solid white;
    border-left: 3px solid white;
    display: block;
}




/**Celular**/
@media (max-width: 767px) {
    * {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 1.40rem;
    }
    h2 {
        font-size: 1.30rem;
    }
}
/**Tablet**/
@media (min-width: 768px) and (max-width: 990px) {}
/**PC**/
@media (min-width: 991px) {}
